body {
    background-color: #F0EBFF;
}


.headContent {
    height: 100vh;
    background-image: url('/img/bg_layout.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
    flex-direction: column;
    border-bottom: 1px solid #0025A1;
}

.headContent h1 {
    text-align: center;
    font-size: 115px;
    line-height: 1;
    color: #000E3B;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    letter-spacing: 0.1px;
}

.headContent h1 span {
    display: block;
}

.headContent h1 span:nth-child(1)::after {
    content: " ";
}

.headContent h1 span:nth-child(2)::after {
    content: "\A";
    white-space: pre;
}

.headContentHashtag {
    margin-top: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.headContentHashtag p {
    font-size: 32px;
    color: #05070F;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: italic;
    text-align: start;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10rem 5rem;
    flex-wrap: wrap;
}

.examInfo {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.examInfo__Text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.examInfo__Text__Title {
    font-weight: 700;
    font-size: 48px;
    color: #000E3B;
}

.examInfo__Text__Subtitle {
    font-size: 24px;
    font-weight: 400;
    color: #000E3B;
}

.examinfo__Text__Link {
    font-size: 24px;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}

.infoBlock {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.infoBlock__Blocks {
    display: flex;
    gap: 20px;
}

.infoBlock__Block {
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}

.infoBlock__Block__Title {
    font-size: 36px;
    font-weight: 700;
    color: #000E3B;
}

.infoBlock__Block__Subtitle {
    font-size: 24px;
    font-weight: 400;
    color: #000E3B;
}

.graduateWork {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 100px;
}

.graduateWork__Present {
    display: flex;
    gap: 150px;
    justify-content: center;

}

.graduateWork__Present__Block {
    background-color: #000E3B;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.graduateWork__Present__Block__Title {
    font-size: 36px;
    font-weight: 700;
    color: #FFFFFF;
}

.graduateWork__Present__Block__Subtitle {
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF;
}

.graduateWork__Process {
    display: flex;
    gap: 10px;
}

.graduateWork__Process__Block {
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 5px;
}

.graduateWork__Process__Block__Title {
    font-size: 36px;
    font-weight: 700;
    color: #000E3B;
}

.graduateWork__Process__Block__Subtitle {
    font-size: 24px;
    font-weight: 400;
    color: #000E3B;
}

.examSchedule {
    background-color: #FFFFFF;
    border-radius: 60px 60px 0 0;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.examSchedule__Header {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.examSchedule__Header__Title {
    font-size: 48px;
    font-weight: 700;
    color: #000E3B;
}

.examSchedule__Header__Subtitle {
    font-size: 24px;
    font-weight: 400;
    color: #000E3B;
}

.examSchedule__Search {
    display: flex;
    justify-content: center;
}

.examSchedule__Search__Input {
    border-radius: 20px;
    border: 1px solid #000E3B;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.examSchedule__Search__Input__Item {
    border: none;
}

.examSchedule__Search__Input__Item:focus {
    outline: none;
    border: none;
}

.examSchedule__Block__NoFound__Title {
    font-size: 48px;
    font-weight: 800;
    color: #000E3B;
}

.examSchedule__Block {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* =============================
   LARGE DEVICES — max-width: 1199px (ноутбуки)
   ============================= */
@media (max-width: 1199px) {
    .headContent h1 {
        font-size: 100px;
    }

    .examInfo__Text__Title {
        font-size: 40px;
    }

    .examInfo__Text__Subtitle {
        font-size: 20px;
    }

    .examinfo__Text__Link {
        font-size: 20px;
    }

    .examInfo__Image {
        max-width: 30%;
    }

    .infoBlock__Block__Title,
    .graduateWork__Process__Block__Title,
    .graduateWork__Present__Block__Title {
        font-size: 30px;
    }

    .infoBlock__Block__Subtitle,
    .graduateWork__Present__Block__Subtitle,
    .graduateWork__Process__Block__Subtitle,
    .examSchedule__Header__Subtitle {
        font-size: 20px;
    }

    .examSchedule__Header__Title {
        font-size: 40px;
    }



}

/* =============================
   MEDIUM DEVICES — max-width: 991px (планшеты)
   ============================= */
@media (max-width: 991px) {
    .headContent h1 {
        font-size: 86px;
    }

    .graduateWork__Image {
        width: 400px;
        height: 300px;
    }

    .infoBlock__Block__Title,
    .graduateWork__Process__Block__Title,
    .graduateWork__Present__Block__Title {
        font-size: 24px;
    }

    .infoBlock__Block__Subtitle,
    .graduateWork__Present__Block__Subtitle,
    .graduateWork__Process__Block__Subtitle,
    .examSchedule__Header__Subtitle {
        font-size: 16px;
    }





}

/* =============================
   SMALL DEVICES — max-width: 575px (смартфоны горизонтально)
   ============================= */
@media (max-width: 575px) {
    .container{
        margin: 5rem 1rem;
        justify-content: center;
    }

    .headContent h1 {
        font-size: 54px;
    }

    .examInfo {
        flex-direction: column-reverse;
    }

    .examInfo__Text__Title {
        font-size: 30px;
    }

    .examInfo__Text__Subtitle,
    .examInfo__Text__link {
        font-size: 16px;
    }

    .infoBlock__Blocks {
        flex-direction: column;
    }

    .graduateWork__Image {
        display: none;
    }

    .graduateWork__Present__Block {
        width: 100%;
    }

    .graduateWork__Process {
        flex-direction: column;
    }

    .examSchedule__Block__NoFound__Title {
        font-size: 24px;
    }



}

/* =============================
   VERY SMALL DEVICES — max-width: 375px
   ============================= */
@media (max-width: 375px) {
    .headContent h1 {
        font-size: 40px;
    }
    .container {
        margin: 5rem 1rem;
    }

    .examInfo__Image {
        display: none;
    }

    .examInfo__Text__Title {
        font-size: 20px;
    }

    .examInfo__Text__link {
        font-size: 16px;
    }

    .examSchedule__Header {
        gap: 10px;
    }

    .examSchedule {
        border-radius: 30px 30px 0 0 ;
        padding: 30px;
        gap: 30px;
    }

    .infoBlock {
        margin-top: 20px;
    }

    .infoBlock__Block__Title,
    .graduateWork__Process__Block__Title,
    .graduateWork__Present__Block__Title {
        font-size: 20px;
    }

    .infoBlock__Block__Subtitle,
    .graduateWork__Present__Block__Subtitle,
    .graduateWork__Process__Block__Subtitle,
    .examSchedule__Header__Subtitle {
        font-size: 12px;
    }



    .examSchedule__Block {
        margin-top: 0;
    }

    .examSchedule__Block__NoFound__Title  {
        font-size: 20px;
    }

    .examSchedule__Search__Input {
        padding: 5px;
    }

   .examSchedule__Header__Title {
       font-size: 20px;
   }




}





