.newsContainer {
    margin-top: 100px;
    max-width: auto;
    padding: 24px;

}

.newsTitle {
    font-size: 4rem;
    margin-bottom: 16px;
    color: #001969;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.newsImage {
    max-width: 600px;
}

.newsImage img {
    width: 100%;
}

.newsShortDescription {
    font-size: 1.6rem;
    font-weight: 400;
    color: #555;
    margin-bottom: 24px;
    font-family: 'Inter', sans-serif;
}

.newsContent {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    line-height: 2;
    color: #333;
}
