.infoCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    gap: 200px;
    padding: 0 20px; /* небольшой отступ по бокам */
    box-sizing: border-box;
}

.cardsItem {
    flex: 1 1 250px; /* гибкая ширина от 250px и выше */
    max-width: 300px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.itemTitle {
    font-size: clamp(32px, 8vw, 100px);
    font-family: 'Inter', sans-serif;
    color: #00165D;
}

.itemSubtitle {
    font-size: clamp(16px, 3vw, 30px);
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    color: #00165D;
}


/* =============================
   LARGE SCREENS — 1400px-1919px
   ============================= */
@media (min-width: 1400px) and (max-width: 1919px) {
    .infoCards {
        gap: 70px;
        margin-top: 50px;
        padding: 0 50px;
        max-width: 1600px;
    }

    .cardsItem {
        max-width: 380px;
        min-width: 260px;
        padding: 25px 18px;
    }

    .itemTitle {
        font-size: 48px;
        margin-bottom: 18px;
    }

    .itemSubtitle {
        font-size: 24px;
    }
}

/* =============================
   DESKTOP — 1200px-1399px
   ============================= */
@media (min-width: 1200px) and (max-width: 1399px) {
    .infoCards {
        gap: 60px;
        margin-top: 45px;
        padding: 0 40px;
    }

    .cardsItem {
        max-width: 340px;
        min-width: 240px;
        padding: 22px 16px;
    }

    .itemTitle {
        font-size: 40px;
        margin-bottom: 16px;
    }

    .itemSubtitle {
        font-size: 28px;
    }
}



/* =============================
   LARGE DEVICES — max-width: 1199px (ноутбуки)
   ============================= */
@media (max-width: 1199px) {
    .itemTitle h2 {
        font-size: 48px;
    }

    .itemSubtitle {
        font-size: 24px;
    }

    .infoCards {
        gap: 10px;
    }
}

/* =============================
   MEDIUM DEVICES — max-width: 991px (планшеты)
   ============================= */
@media (max-width: 991px) {

    .itemSubtitle {
        font-size: 24px;
    }

    .cardsItem {
        min-width: 200px;
        max-width: 100px;
    }
}

/* =============================
   SMALL DEVICES — max-width: 575px (смартфоны горизонтально)
   ============================= */
@media (max-width: 575px) {

    .itemTitle {
        font-size: 36px;
    }

    .itemSubtitle {
        font-size: 16px;
    }

    .cardsItem {
        min-width: 130px;
        max-width: 50px;
    }

}

/* =============================
   VERY SMALL DEVICES — max-width: 375px
   ============================= */
@media (max-width: 375px) {


}

